.profile {
  margin: 42px 164px 130px 164px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
}

.section {
    display: inline-grid
}
.profileHeader {}

.avatarContainer {}

.username {}



.sectionTitle{}

.input {}

.submitButton {}

.gamesHistory {}
