@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//для всех текстов
@mixin text-style-bold {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 12%;
  color: #2B640B;
}

//для текста внутри сайдбара
@mixin text-style-semibold {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0%;
  color: #2B640B;
}

//для маленьких кнопок
@mixin button {
  width: 160px;
  height: 61px;
  background-color: #71A47350;
  stroke: #3B673D50;
  cursor: pointer;
}

//для больших кнопок
@mixin big-button {
  width: 250px;
  height: 50px;
  background-color: #71A47350;
  stroke: #3B673D50;
  cursor: pointer;
}