// Шрифты
$ff: "IBM Plex Mono", sans-serif;
$fs: 14px;
$fs-title: 20px;
$fw-normal: 400;
$fw-bold: 600;

// Цвета
$primary-color: #646cff;
$hover-color: #535bf2;
$buy-color: #2ecc71;
$buy-hover-color: #24e675;
$loading-color: #ffeb3b;
$error-color: #f44336;

// Отступы и границы
$spacing: 1.25rem;
$transition: all 0.2s ease-out 0s;
$br: 12px;
$box: 0 0 15px rgba(0, 0, 0, 1);

// Фоны
$background-main: #FFEFD9;
$background-container: #FFEFD9;
$background-mini: #71A47350;
$white: rgb(255,245,245);
$background-modal: #FFEFD9;
$border-encircle: #71A47350; // Обновленный цвет обводки

// Фоновые изображения
$forest: url('../../../assets/svg/обои.svg');
$beach: url('../../../assets/svg/пляж.svg');
$river: url('../../../assets/svg/река.svg');