.logoutButton {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  border: 5px solid #3B673D50;
  @include text-style-bold;
  @include button
}

.logoutButton:hover {
  transform: scale(1.1);
}
