.logoutButton {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 4px #00000080;
  @include text-style-bold;
  @include button
}

.logoutButton:hover {
  transform: scale(1.1);
}
