.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px; 
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFEEEE; 
  background-color: rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  transition: all 0.2s ease-out;
  text-align: center;
  backdrop-filter: blur(4px);
  padding: 0 1.25rem;

  min-width: 109px;
  height: 41px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.25); 
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--sm {
    min-width: 106px;
    height: 31px;
  }

  &--lg {
    min-width: 250px;
    height: 50px;
  }
}
