.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #3B673D50;
  border-radius: 12px; 
  cursor: pointer;
  transition: all 0.2s ease-out;
  text-align: center;
  backdrop-filter: blur(4px);
  padding: 0 1.25rem;

  min-width: 109px;
  height: 41px;

  background-color: #71A47350;
 

  @include text-style-bold;

  &:hover {
    background-color: #71A47360; 
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--sm {
    min-width: 106px;
    height: 31px;
  }

  &--lg {
    min-width: 250px;
    height: 50px;
  }
}
