.inputWrapper {
  position: relative;
  width: 100%;

  label {
    display: block;
    @include text-style-bold;
    margin-bottom: 8px;
  }

  input {
    display: block;
    width: 310px;
    height: 40px;
    padding: 0 16px;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.22);
    border-radius: $br;
    @include text-style-bold;
    transition: $transition;

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: #2B640B;
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      border: 3px solid rgba(0, 0, 0, 0.22);
    }

    &::placeholder {
      color: rgba(255, 238, 238, 0.7);
    }

    &:focus {
      border-color: 3px solid rgba(0, 0, 0, 0.5);
      outline: none;
      box-shadow: none;
      background-color: transparent;
      border: 3px solid rgba(0, 0, 0, 0.22);
    }

    &[type="password"],
    &[type="email"],
    &[type="text"] {
      appearance: none;
      background-color: transparent;
    }
  }
}